{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}

    {% if user.is_authenticated %}
        <h3>Welcome {{ user.get_username }}!</h3>

        <div class="container">
		<div class="row">
            <div class="col-sm">
                <p>Your values: </p>
            </div>
			<div class="col-sm">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th>#</th>
                  <th>Money</th>
                  <th>Bonus</th>
                  <th>BNS Wagered</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>{{money}}</td>
                  <td>{{bonus}}</td>
                  <td>{{wagered}}</td>
                </tr>
              </tbody>
            </table>
			</div>
			<div class="col-sm"></div>
		</div>
		</div>
        <hr />
        <h4>Let's play spin roulette</h4>

        <p>choose a number</p>

        <div class="container">
            <div class="row">
                <div class="col-xs-3 col-xs-offset-3">
                    <p>Min: 0</p>
                    <p>Max: 36</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-xs-offset-3">
                    {% crispy form %}
                    {% csrf_token %}
                </div>
            </div>
        </div>
        <hr />
        <h4>Make a deposit</h4>

        <div class="container">
            <div class="row">
                <div class="col-xs-3 col-xs-offset-3">
                    {% crispy deposit %}
                    {% csrf_token %}
                </div>
            </div>
        </div>

        <hr />
        <h4>Withdraw</h4>

        <div class="container">
            <div class="row">
                <div class="col-xs-3 col-xs-offset-3">
                    <h5>Money</h5>
                    {% crispy withdrawn_money %}
                    {% csrf_token %}
                </div>
                <div class="col-xs-3 col-xs-offset-3">
                    <h5>Bonus Money</h5>
                    {% crispy withdrawn_bonus %}
                    {% csrf_token %}
                </div>
            </div>
        </div>

        <hr />
        <a href="{% url 'logout' %}">Log out</a>
    {% else %}
        <h3>Welcome!</h3>
        <p>Do you wanna play?</p>
        <a href="{% url 'login' %}">login</a> | 
        <a href="{% url 'signup' %}">new user?</a>
    {% endif %}

{% endblock %}
